@model EducateMeForums.ViewModels.WallPost.NewWallPostModel
@{
    ViewData["Title"] = "Create";
}



<div class="row ">
    <div class="container">

        <div class="col-md-8 col-md-offset-2 border">
            <div class="content ">
                <div id="tab">
                    <form asp-action="AddWallPost" method="post" id="wallpost">
                        <h2>Add a WallPost</h2>
                        <hr />
                        <div class="form-group">
                            <label asp-for="WallPostTitle"></label>
                            <input asp-for="WallPostTitle" class="form-control" />
                            <span asp-validation-for="WallPostTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WallPostBodyContent"></label>
                            <textarea asp-for="WallPostBodyContent" class="form-control" rows="10"></textarea>
                            <span asp-validation-for="WallPostBodyContent" class="text-danger"></span>
                        </div>
                    
                        <button type="submit" class="btn btn-default">Post to Wall</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

